.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  height: 75vh;
  background: linear-gradient(
    #46cec7,
    rgb(35, 33, 179),
    rgba(57, 216, 81, 0.73)
  );
  font-size: 1.5rem;
  color: aliceblue;
  width: 100%;
}

.answer {
  width: 80vw;
  height: 60px;
  margin: 5px 0;
  padding: 7px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answers_container {
  margin: 35px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.question_container {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.incorrect {
  width: 80vw;
  height: 60px;
  margin: 5px 0;
  background-color: rgb(211, 95, 72);
  padding: 7px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  color: aliceblue;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  width: 80vw;
  height: 60px;
  margin: 5px 0;
  background-color: rgb(80, 206, 78);
  padding: 7px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  color: aliceblue;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start_blank {
  background: linear-gradient(
    #46cec7,
    rgb(35, 33, 179),
    rgba(57, 216, 81, 0.73)
  );
  height: 85vh;
  width: 100%;
  position: relative;
}

.sensei {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  height: 75vh;
  background: linear-gradient(#1f1f1f, rgb(54, 54, 54), rgb(18, 18, 18));
  font-size: 1.5rem;
  color: aliceblue;
  width: 100%;
}

@media (min-width: 768px) {
  .incorrect {
    width: 45vw;
  }

  .correct {
    width: 45vw;
  }

  .answer {
    width: 45vw;
  }

  .main {
    font-size: 1.7rem;
  }
  .sensei {
    background: linear-gradient(#1f1f1f, rgb(54, 54, 54), rgb(18, 18, 18));
  }
}

.message {
  position: absolute;
  background: transparent;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
  background: "transparent";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: .6rem;
}
