.login_page_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
      rgba(248, 241, 241, 0.73),
      rgba(255, 255, 255, 0.943)
    ),
    url("/images/fondo1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0 0 0 0;
  padding: 0;
}

.login_register_container {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 300px 300px;

  /* background: lightpink; */
  /* gap: 30px; */

  /* background-image: url('../../../public/images/mq_1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  margin: 0 0 0 0;
  padding: 0;
  font-family: Arial, sans-serif; */
}
.login_container {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.register_container {
  /* background: lightgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_container {
  /* background: lightgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.register_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  gap: 10px;
}
.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  gap: 10px;
}
.logo_container .image_ {
  filter: drop-shadow(1px 1px 1.2px rgb(99, 99, 99));
}

.submit_form_button {
  background: rgb(134, 208, 254);
  width: 95%;
  height: 40px;
  font-size: 0.9rem;
  border: none;
  outline: 1px solid rgba(163, 163, 163, 0.255);
}

.register_form .input_login_form {
  width: 95%;
  height: 40px;
  text-indent: 10px;
  font-size: 0.9rem;
  border: none;
  outline: 1px solid rgba(163, 163, 163, 0.255);
}
.input_register_form {
  width: 100%;
  height: 40px;
  text-indent: 10px;
  font-size: 0.9rem;
  border: none;
  outline: 1px solid rgba(163, 163, 163, 0.255);
}
.input_register_form::placeholder {
  color: rgba(66, 66, 66, 0.479);
}
.create_form_button{
    width: 95%;
  height: 40px;
  border: none;
  outline: 1px solid rgba(163, 163, 163, 0.255);
  background: rgba(252, 167, 76, 0.876);
}
.login_form .input_login_form {
  width: 95%;
  height: 40px;
  text-indent: 10px;
  font-size: 0.9rem;
  border: none;
  outline: 1px solid rgba(163, 163, 163, 0.255);
}
.login_form .input_login_form::placeholder {
  color: rgba(66, 66, 66, 0.479);
}
.register_form .input_login_form::placeholder {
  color: rgba(66, 66, 66, 0.362);
}

@media (width >= 768px) {
  .login_register_container {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 350px;
    place-content: center;
  }

  .login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0 0 0;
    border-radius: 20px;
    height: 80%;
  }
}
