.image{
    margin: 0 0 50px 0;
}
.text{
    margin: 0 0 12px 0;
}
.modal {
    background-color: rgb(239, 239, 239);
    width: 70%;
    height: 60vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    border-radius: 10px;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.759);
}

.level {

    margin: 50px 0;
    width: 130px;
    height: 30px;
    text-indent: 15px;
    border-radius: 8px;
    border: none;
    outline: 8px rgb(84, 119, 223) solid;
    font-size: 1.3rem;

    appearance: none;
    ;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.level .option {

    background-color: rgb(19, 187, 19);
}
.go_button_container{
    margin: 50px 0 0 0;
}
.start {
    width: 130px;
    height: 40px;
    border: none;
    background: linear-gradient(90deg, rgba(110, 208, 11, 0.687), rgb(16, 195, 16));
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.start:hover {

    background: linear-gradient(150deg, rgba(110, 208, 11, 0.687), rgb(16, 195, 16));;

}

@media(min-width:768px){

    .modal{
        width: 35%;
    height: 50%;
    }
}