.image {
    margin: 0 0 50px 0;
}


.text {
    margin: 0 0 12px 0;
}

.modal {
    background-color: rgb(239, 239, 239);
    width: 75%;
    height: 60vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    border-radius: 10px;
    opacity: 0;
    position: relative;
    animation: slideInFromBottom 1s forwards,
        fadeIn 1s forwards;
}

@keyframes slideInFromBottom {
    from {
        bottom: -100px;
    }

    to {
        bottom: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* background-color: rgba(0, 0, 0, 0.759); */
}

.option_error {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.level {

    margin: 50px 0;
    width: 130px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: 8px rgb(84, 119, 223) solid;
    font-size: 1.3rem;

    appearance: none;
    ;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;

    display: flex;



}

/* .optionItem {

    background: rgb(19, 187, 19);
    text-align: center;
    margin: 50px auto;
    color: red;
} */


.go_button_container {
    margin: 50px 0 0 0;
}

.start {
    width: 130px;
    height: 40px;
    border: none;
    background: linear-gradient(90deg, rgba(110, 208, 11, 0.687), rgb(16, 195, 16));
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.start:hover {

    background: linear-gradient(150deg, rgba(110, 208, 11, 0.687), rgb(16, 195, 16));
    ;

}

.btns_options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 10px;

}

.item {
    color: white;
    height: 35px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    width: 85%;
    /* outline: 1px solid rgb(187, 187, 187); */
}



.btnItem1 {
    background: rgb(50, 197, 136);
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    border-radius: 20px;

}

.btnItem2 {
    background: rgb(255, 165, 91);
    border-radius: 20px;



}

.btnItem3 {
    background: rgb(235, 6, 75);
    /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; */
    border-radius: 20px;


}
.btnItem4{
    background: rgb(46, 8, 96);
    /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; */
    border-radius: 20px;


}

.selected {

    /* background: rgb(255, 0, 247); */
    outline: white;
    background-image: url('../../../public/icons/cursor.png');
    background-position: calc(98% - 2%);
    background-repeat: no-repeat;
background-size: 20px;
z-index: 2;
}

.selected:hover {

    /* background: rgb(255, 0, 247); */
    outline: white;
}

@media(width >=768px) {

    .modal {
        width: 60%;
        height: 50%;
    }

    .btns_options {
        flex-direction: row;
        width: 90%;
        align-items: center;
        justify-content: center;

    }

    .item {
        width: 35%;
        /* outline: 1px solid rgb(187, 187, 187); */
    }

   
   


}