.container {
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-content: center;

  background-image: linear-gradient(
      rgba(248, 241, 241, 0.73),
      rgba(255, 255, 255, 0.943)
    ),
    url("/images/fondo1.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.sensei{
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-content: center;

  background-image: linear-gradient(
      rgb(19, 19, 19),
      rgb(22, 22, 22)
    ),
    url("/images/fondo1.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.logo_container {
    padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_nickname {
 
  font-size: 1rem;
  font-weight: 800;
  color: #156ab4;
  height: 40px;
  font-style: oblique;

  display: flex;
  align-items:flex-end;
  justify-content: flex-start;
  gap: 10px;
  /* background: lightsalmon; */
  width: 80%;
}
.user_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.config {
  cursor: pointer;
}
.user_nickname 
.mando{
    width: 40px;
    height: 40px;
    background-image:url("/images/mando.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;   


}
