.container {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    background-image:linear-gradient(
        rgba(248, 241, 241, 0.73),
        rgba(255, 255, 255, 0.943)
      ),
      url("/images/fondo1.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    
}
.logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    height: 70px;
}
.buton_logout{
    z-index: 2;
    background: rgba(249, 161, 89, 0.857);
    color: aliceblue;
font-size: 1rem;
width: 80px;
height: 30px;
border: none;
cursor: pointer;
}
.buton_logout:hover{
    background: rgba(251, 151, 69, 0.857);

}

.image_{
    z-index: 2;
}

.config {

   cursor: pointer;
}

.button_right {

    width: 100px;
    height: 28px;
    border-radius: 15px;
    border:none;
    background-color: aqua;

}